<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .topnav-right {
  float: right;
}
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><span><h2>Employee's record</h2><br></span>
      <div>
       <div class="topnav-right">
         <a href="{% url 'cretae' %}"><button type="button" class="btn btn-success">Add Employee</button></a>

  </div>
</div>
    </div>
      </div>
</nav>

<div class="container">

  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
    <th>Employee Name</th>
    <th>Phone</th>
    <th>salary</th>
      <th>City</th>
      <th>Department</th>
  </tr>
    </thead>
    <tbody>

    {% for emp in employee %}
  <tr>
    <td>{{emp.emp_name}}</td>
     <td>{{emp.phone}}</td>
     <td>{{emp.salary}}</td>
     <td>{{emp.city}}</td>
     <td>{{emp.dept}}</td>
    <td><a href="{% url 'update' id=emp.id %}"><button type="button" class="btn btn-success">Update</button></a></td>
    <td><a href="{% url 'delete' id=emp.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
  </tr>

    {% endfor %}
    </tbody>
  </table>
  </div>
</div>



</body>
</html>
